#footer {
    padding:1em 0;
    border-top:1px solid #e7e7e7;
}

#footer sec {
    padding-left:1em;
    color:black;
}
.top0 { margin-top:0px; }
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.bottom0 { margin-bottom:0px; }
.left10 { margin-left:10px; }

.pd-top5 {
    padding-top:5px;
}

.nav-selected {
    background-color:#EEE;
    text-decoration:none;
}
.app-list li{
    border:0 none;
    margin:0;
    text-align:center;
}
.app-list a {
    font-size:3em;
}
ul.nav li a {
    min-height:42px;
}
.user-group-form-group {
    padding:10px 15px;
}
p.table-text {
    word-break:break-all;
}

.fs-14 {
    font-size: 14px;
}

#data-table tr td {
    vertical-align:middle;
    width: 10%;
}

#data-table tr td div {
    overflow: auto;
    height: 200px;
}

.button-box {
    padding-bottom: 10px;
}

body {
    font-size: 12px;
}

.word-break {
    word-break: break-all;
}
.min-w100 {
    min-width:100px
}
#search-order-id {
    width: 60px;
}
.select-opear {
    width: 50%;
    height: 60px;
    margin: 5px;
    text-align: center;
}
.select-opear button {
    margin: 5px 20px 5px 20px;
}
#orderedit tr {
    width: 400px;
    height: 50px;
}
.orderedittitle {
    text-align: right;
}
#orderedit button {
    margin: 0 20px 0 20px;
}
ul.app-list {
    padding: 0;
}
ul.app-list li {
    display: block;
    float:left;
    width: 25%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 1em;
    font-family: "微软雅黑";
}

ul.app-list li a:hover {
    text-decoration: none;
}